@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: black;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}

.fullpage {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

nav {
  display: flex;
  right: 0;
  left: 0;
  padding: 25px;
  z-index: 999;
  background-color: rgb(59, 6, 6);
  height: 1%;
}

.navcontent {
  position: relative;
  display: flex;
  margin: auto;
  width: 80%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.navcontent div {
  font-size: 1.8em;
  font-weight: bolder;
  color: white;
}

.navcontent ul {
  display: flex;
  position: relative;
  list-style-type: none;
  font-size: 1em;
  /* gap: 25px; */
}

.navcontent * {
  cursor: pointer;
}

.navcontent ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin: 5px;
  width: 100px;
  padding: 1px;
  color: white;
}

.navcontent ul li:hover {
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

.menu-toggle {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: auto;
  padding: 50px;
}

button {
  background-color: rgb(59, 6, 6);
  margin-top: 40px;
  height: 10vh;
  width: 30vh;
  border-radius: 10px;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 400;
  transition: 0.3s;
}

p {
  font-size: 1.5em;
}
