.fullpage {
  height: 100vh;
  width: 100vw;
  background-color: #252525;
  overflow-x: hidden;
  background-image:url(../Images/bldbg.jpg);
  background-position: center;
  background-size: cover;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

.menu-toggle {
  display: none;
}

.list{
  display: flex;
  flex: 1;
  width: 100vw;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
  
.container {
    height: min-content;
    margin-top:50px;
    width: 95vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.b1 {
  height: 6vh;
  border-radius: 10px;
  padding-left:20px;
  background-color:rgb(70, 8, 8);
  display: grid;
  align-items: center;            
  /* grid-template-areas: "hospital address contact schedule"; */
  grid-template-columns: repeat(4, minmax(0, 1fr));
  transition: 0.3s;
  text-align: center;
}
.b {
  height: 11vh;
  opacity:95%;
  width:fit-content;
  border-radius: 10px;
  padding-left:20px;
  background-color:ghostwhite;
  display: grid;
  align-items: center;            
  /* grid-template-areas: "hospital address contact schedule"; */
  grid-template-columns: repeat(4, minmax(0, 1fr));
  transition: 0.3s;
  text-align: center;
}
.dock{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:40vw;
  align-items: center;
}

button {
  background-color: #bfeebf;
  height: 3vh;
  width: 11vh;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

button:hover {
  background-color: #2dd72d;
  transform: scale(1.15);
}

button:active {
  background-color: #00a313;
}
.homeBtn{
    height:7vh;
    width:17vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border:none;
    color: #252525;
    border-radius:60px;
    padding:0;
    cursor:pointer;
    font-size: large;
    font-weight:500;
    background-image: linear-gradient(to left, #ff4c4c,#f9a5a5,#ff4c4c);
    transition: 0.3s;
    background-size: 200%;
 }

.b:hover {
  transform: scale(1.03);
}
@media (max-width: 1120px) {
  .navcontent ul {
    display: none; 
  }
  .menu-toggle {
    display: block;
  }
}
@media (max-width:700px){
  .b{
    width: 100%;
  }
  .container{
    width: 100%;
  }
}
@media (max-width:500px){
  .b{
    width: 100%;
    padding-left: 10px;
  }
  .container{
    width: 100%;
  }
  p{
    font-size: smaller;
  }
  button{
    font-size: x-small;
    width:8vh;
  }
}
@media (max-width:400px){
  p{
    font-size: x-small;
  }
}
